/* App.css */
*{
  background-color: burlywood;
}
.app {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  max-width: 500px;
  margin: auto;
  padding: 24px;
  text-align: center;
}

.header {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 24px;
  color: rgb(11, 11, 11);
  background-color: black;

}

.section {
  margin-top: 16px;
}

.search {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.search input {
  padding: 10px;
  width: 220px;
  border: 1px solid #0c0c0c;
  border-radius: 6px;
  outline: none;
}
.search button {
  padding: 10px 14px;
  border: none;
  border-radius: 6px;
  background-color: #4a90e2;
  color: rgb(16, 16, 16);
  cursor: pointer;
}

.search button:hover {
  opacity: 0.9;
}

.weather-info {
  margin-top: 20px;
  padding: 16px;
  border: 1px solid #eee;
  border-radius: 8px;
  text-align: left;
}

.footerf {
  margin-top: 32px;
  font-size: 13px;
  color: #121212;
}
